<div class="container">
  <div class="nav">
    <button routerLink="/admin">بازگشت به پنل مدیریت</button>
  </div>

  <h2>مدیریت تمام رزروها</h2>

  <p *ngIf="message" class="message">{{ message }}</p>

  <table *ngIf="reservations.length > 0">
    <thead>
      <tr>
        <th>شماره رزرو</th>
        <th>شناسه کاربر</th>
        <th>شناسه بلیط</th>
        <th>وضعیت</th>
        <th>زمان رزرو</th>
        <th>عملیات</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of reservations">
        <td>{{ res.id }}</td>
        <td>{{ res.user_id }}</td>
        <td>{{ res.ticket_id }}</td>
        <td>
          <select [(ngModel)]="res.status">
            <option value="reserved">رزرو شده</option>
            <option value="paid">پرداخت شده</option>
            <option value="canceled">لغو شده</option>
          </select>
        </td>
        <td>{{ res.reserve_time | jalali }}</td>
        <td>
          <button (click)="updateStatus(res.id, res.status)">ذخیره تغییر</button>
        </td>
      </tr>
    </tbody>
  </table>
   <p *ngIf="!reservations.length && !isLoading">هیچ رزروی یافت نشد.</p>
</div>
